{% extends "authapp/templates/base.html" %}
{% load bootstrap4 %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="accordion" style="margin:20px; width:auto; max-width: 1000px;">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Application Details
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <table>
        <form enctype="multipart/form-data" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        </table>
        <button class="btn btn-success" type='submit'>Submit</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Screenshots
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        {% include 'apps/screenshot_upload.html' %}    
      </div>
    </div>
  </div>

  

</div>

</body>
</html>
{% endblock content %}

<link rel="stylesheet" href="templates/static/css/dropzone.css">
<script src="templates/static/js/dropzone.js"></script>
