{% extends "authapp/templates/base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
<form enctype="multipart/form-data" method='post'>
{% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}
{{form.as_table}}
</table>
<button type='submit'>Submit</button>

</body>
</html>
{% endblock content %}