{% extends "authapp/templates/base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<h1>{{welcome}}</h1>
<br>
<a href="{% url 'authapp:edit' %}" class="btn btn-primary">Edit Your Profile</a> or
<a href="{% url 'authapp:password_change' %}" class="btn btn-warning">Change your password</a>
<hr>
<button class="btn btn-primary" onclick='location.href="{% url 'apps:appformset' %}" '>Upload your app</button>
<button style="margin:5px;" class="btn btn-warning" onclick='location.href="{% url 'apps:appformset' %}" '>Upload your screenshots</button>
<hr>
<h4> Your apps </h4>

{% endblock content %}